@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;800&family=Roboto:wght@300;400;900&display=swap');

*{
    margin: 0 0px;
}

.cabecalho{
    background-color: rgb(221, 23, 23);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    position: fixed;
}

.morte{
    font-family: 'Geologica', sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.biografia{
    font-family: 'Geologica', sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}

.biografia-toda{
    font-family: 'Geologica', sans-serif;
    background-color: black;
}

.titulo-bio{
    color: white;
    display: flex;
    justify-content: center;
}

.text-bio{
    color: white;
}